@model SetorViewModel

@{
    ViewData["Title"] = "Detalhes do Setor";
}

<div class="container">
    <h5 class="text-center text-secondary">Setor</h5>
    <table class="table table-striped text-sm-left">
        <thead class="thead-dark">
            <tr>
                <th>Código</th>
                <th>Setor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.TituloSetor</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <h5 class="text-center text-secondary">Cargos</h5>
    <table class="table table-striped text-sm-left">
        <thead class="thead-dark">
            <tr>
                <th>Código</th>
                <th>Cargo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cargos.ToList())
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.TituloCargo</td>
                </tr>
            }
        </tbody>
    </table>
</div>