@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<!--Menu principal-->
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    @if (!SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" asp-action="Login" asp-controller="Usuario">Entrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-action="Registro" asp-controller="Usuario">Registrar</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white">
                @User.Identity.Name <i class="fas fa-user"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" asp-action="Sair" asp-controller="Usuario">
                Sair <i class="fas fa-sign-out-alt"></i>
            </a>
        </li>
    }
</ul>