<div class="alert alert-warning text-center">
    <h5 class="h5 text-warning" id="msg">
        <i class="fas fa-exclamation-triangle"></i>
        Deseja realmente excluir este dado?
    </h5>
</div>