@model ErroViewModel
@{
    ViewData["Title"] = "Erro encontrado";
}

<div class="container">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="~/img/erro.png" alt="Erro" />
        </div>
        <div class="col-lg-5">
            @{
                if (Model == null)
                {
                    <div class="alert alert-danger">
                        <h1 class="text-danger">@Model.StatusCode</h1>
                        <h3 class="text-danger mb-2">Ooops! Ocorreu um erro, mas não se preocupe. Nosso time será avisado e iremos corrigir em breve!</h3>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        <h1 class="text-danger">@Model.StatusCode</h1>
                        <h3 class="text-danger mb-2">@Model.Titulo</h3>
                        <h3 class="text-danger">@Model.Mensagem</h3>
                    </div>
                }
            }
        </div>
    </div>
</div>