@model AssuntoAtendimentoViewModel

@{ 
    ViewData["Title"] = "Exclusão de Assunto";
}

<div class="d-flex justify-content-center mt-3">
    <div class="card mx-auto">
        <div class="card-body" style="width: 800px;">
            <h5 class="card-title text-secondary">
                <i class="fas fa-trash-alt"></i>
                Exclusão de Assunto
            </h5>
            <partial name="_MsgExcluirPartial" />
            <hr />
            <form asp-action="Excluir">
                <div class="form-group">
                    <label for="id" class="col-form-label-sm" title="Codigo">Código</label>
                    <input asp-for="Id" class="form-control form-control-sm form-text text-dark" id="id" readonly="readonly" />
                </div>
                <div class="form-group">
                    <label for="titulo" class="col-form-label-sm" title="Assunto">Assunto</label>
                    <input asp-for="TituloAssunto" class="form-control form-control-sm form-text text-dark" id="titulo" readonly="readonly" />
                </div>
                <input type="submit" class="btn btn-sm btn-success btn-form mr-2" title="Excluir" />
                <a class="btn btn-sm btn-danger btn-form" asp-action="Index">Cancelar</a>
            </form>
        </div>
    </div>
</div>
