@model CidadaoViewModel

@{
    ViewData["Title"] = "Cadastro de Cidadão";
}

<div class="d-flex justify-content-center mt-3">
    <div class="card mx-auto">
        <div class="card-body" style="width: 800px;">


            <vc:summary></vc:summary>
            <form asp-action="Cadastrar">
                <div class="row bg-light">
                    <h5 class="card-title text-secondary">
                        <i class="fas fa-id-card"></i>
                        Cadastro de Cidadão
                    </h5>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="nome" class="col-form-label-sm" title="Nome">Nome</label>
                            <input asp-for="Nome" class="form-control form-control-sm form-text text-dark" placeholder="Nome do cidadão" id="nome" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="nomeSocial" class="col-form-label-sm" title="Nome Social">Nome Social</label>
                            <input asp-for="NomeSocial" class="form-control form-control-sm form-text text-dark" placeholder="Nome Social do cidadão" id="nomeSocial" />
                            <span asp-validation-for="NomeSocial" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row bg-light">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="nis" class="col-form-label-sm" title="NIS">NIS</label>
                            <input asp-for="Nis" class="form-control form-control-sm form-text text-dark" placeholder="Número do NIS" id="nis" />
                            <span asp-validation-for="Nis" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row bg-light">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="cpf" class="col-form-label-sm" title="CPF">CPF</label>
                            <input asp-for="Cpf" class="form-control form-control-sm form-text text-dark" placeholder="Número do CPF" id="cpf" />
                            <span asp-validation-for="Cpf" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="rg" class="col-form-label-sm" title="RG">RG</label>
                            <input asp-for="Rg" class="form-control form-control-sm form-text text-dark" placeholder="Número do RG" id="rg" />
                            <span asp-validation-for="Rg" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row bg-light">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="titulo" class="col-form-label-sm" title="Título de Eleitor">Título de Eleitor</label>
                            <input asp-for="TituloEleitor" class="form-control form-control-sm form-text text-dark" placeholder="Número do Título de Eleitor" id="titulo" />
                            <span asp-validation-for="TituloEleitor" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="nacionalidade" class="col-form-label-sm" title="Nacionalidade">Nacionalidade</label>
                            <input asp-for="Nacionalidade" class="form-control form-control-sm form-text text-dark" placeholder="Nacionalidade" id="nacionalidade" />
                            <span asp-validation-for="Nacionalidade" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row bg-light">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="naturalidade" class="col-form-label-sm" title="Naturalidad">Naturalidade</label>
                            <input asp-for="Naturalidade" class="form-control form-control-sm form-text text-dark" placeholder="Naturalidade" id="naturalidade" />
                            <span asp-validation-for="Naturalidade" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="civil" class="col-form-label-sm" title="Estado Civil">Estado Civil</label>
                            <select class="form-select form-select-sm" aria-label="EstadoCivil" asp-for="EstadoCivil">
                                <option selected>Escolha uma opção</option>
                                <option value="1">Solteiro</option>
                                <option value="2">Casado</option>
                                <option value="3">Separado</option>
                                <option value="4">Divorciado</option>
                                <option value="5">Viúvo</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row bg-light">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="gernero" class="col-form-label-sm" title="Gênero">Gênero</label>
                            <select class="form-select form-select-sm" aria-label="Genero" asp-for="Genero">
                                <option selected>Escolha uma opção</option>
                                <option value="1">Feminino</option>
                                <option value="2">Masculino</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="raca" class="col-form-label-sm" title="Raça">Raça</label>
                            <select class="form-select form-select-sm" aria-label="Raca" asp-for="Raca">
                                <option selected>Escolha uma opção</option>
                                <option value="1">Branca</option>
                                <option value="2">Preta</option>
                                <option value="3">Parda</option>
                                <option value="4">Amarela</option>
                                <option value="5">Indígena</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row bg-light">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="numFilhos" class="col-form-label-sm" title="Número de Filhos">Número de Filhos</label>
                            <input asp-for="NumFilhos" class="form-control form-control-sm form-text text-dark" placeholder="0" />
                            <span asp-validation-for="NumFilhos" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="dataNasc" class="col-form-label-sm" title="Data de Nascimento">Data de Nascimento</label>
                            <input asp-for="DataNasc" class="form-control form-control-sm form-text text-dark" />
                            <span asp-validation-for="DataNasc" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row bg-light">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="telefone" class="col-form-label-sm" title="Telefone">Telefone(Fixo)</label>
                            <input asp-for="TelefoneFixo" class="form-control form-control-sm form-text text-dark" placeholder="Número do telefone" id="telefone" />
                            <span asp-validation-for="TelefoneFixo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="celular" class="col-form-label-sm" title="Celular">Celular</label>
                            <input asp-for="Celular" class="form-control form-control-sm form-text text-dark" placeholder="Número do celular" id="celular" />
                            <span asp-validation-for="Celular" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row bg-light">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="email" class="col-form-label-sm" title="E-mail">E-mail</label>
                            <input asp-for="Email" class="form-control form-control-sm form-text text-dark" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="status" class="col-form-label-sm" title="Status">Situação</label>
                            <select class="form-select form-select-sm" aria-label="Situacao" asp-for="Situacao" id="status">
                                <option value="true" selected>Ativo</option>
                                <option value="false">Inativo</option>
                            </select>
                            <span asp-validation-for="Situacao" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <hr />


                <div class="row bg-light">
                    <h5 class="card-title text-secondary">
                        <i class="fas fa-user-friends"></i>
                        Filiação
                    </h5>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="nomePai" class="col-form-label-sm" title="Nome do Pai">Nome do Pai</label>
                            <input asp-for="Filiacao.NomePai" class="form-control form-control-sm form-text text-dark" placeholder="Nome do pai" id="nomePai" />
                            <span asp-validation-for="Filiacao.NomePai" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="nomeMae" class="col-form-label-sm" title="Nome da Mãe">Nome da Mãe</label>
                            <input asp-for="Filiacao.NomeMae" class="form-control form-control-sm form-text text-dark" placeholder="Nome da mãe" id="nomeMae" />
                            <span asp-validation-for="Filiacao.NomeMae" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <hr />

                <partial name="_Endereco" />

                <input type="submit" class="btn btn-sm btn-success btn-form" title="Cadastrar" />
                <a class="btn btn-sm btn-danger btn-form" asp-action="Index">Cancelar</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            BuscaCep();
        });
    </script>

}