@{
    ViewData["Title"] = "Dashboard";
}

<section class="container">
    <div class="d-flex justify-content-center">
        <div class="row flex-row">
            <div class="card mr-2" style="width: 300px;">
                <p class="card-header">Atendimentos</p>
                <div class="card-body">
                    <h3 class="card-title">Acessar</h3>
                    <p class="card-text">dasdasds</p>
                </div>
            </div>
            <div class="card" style="width: 300px;">
                <p class="card-header">Atendimentos</p>
                <div class="card-body">
                    <h3 class="card-title">Acessar</h3>
                    <p class="card-text">dasdasds</p>
                </div>
            </div>
            <div class="card" style="width: 300px;">
                <p class="card-header">Atendimentos</p>
                <div class="card-body">
                    <h3 class="card-title">Acessar</h3>
                    <p class="card-text">dasdasds</p>
                </div>
            </div>
            <div class="card" style="width: 300px;">
                <p class="card-header">Atendimentos</p>
                <div class="card-body">
                    <h3 class="card-title">Acessar</h3>
                    <p class="card-text">dasdasds</p>
                </div>
            </div>
            <div class="card" style="width: 300px;">
                <p class="card-header">Atendimentos</p>
                <div class="card-body">
                    <h3 class="card-title">Acessar</h3>
                    <p class="card-text">dasdasds</p>
                </div>
            </div>
            <div class="card" style="width: 300px;">
                <p class="card-header">Atendimentos</p>
                <div class="card-body">
                    <h3 class="card-title">Acessar</h3>
                    <p class="card-text">dasdasds</p>
                </div>
            </div>

        </div>
    </div>
</section>