@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-6">
            <div class="jumbotron jumbotron-fluid bg-transparent">
                <h2 class="display-2">Bem-vindo</h2>
                <hr class="my-4" />
                <p class="lead text-justify">
                    Este é o SysCras - Sistema para controle de atendimento do CRAS.
                    Caso tenha dúvidas sobre como utiliza-lo, entre em contato com o departamento de informática!
                </p>
                <a class="btn btn-primary btn-form" asp-action="Sobre">Sobre o sistema</a>
                <a class="btn btn-danger btn-form" asp-action="Privacidade">Nossa privacidade</a>
            </div>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded ml-lg-3 pl-lg-2" src="~/img/banner-3.png" alt="Banner Home Page" />
        </div>
    </div>
</div>