@{
    ViewData["Title"] = "Home Page";
}

<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="~/img/banner-1.png" alt="Banner-Inicio" />
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Sistema de Atendimento</h1>
            <p>
                O SysCras é um sistema para controle de atendimento à usuários do CRAS. 
                Seu uso é exclusivo da Prefeitura Municipal de Capetinga-MG.
                Para maiores informações, entre em contato com o Departamento de Informática da Prefeitura de Capetinga.
            </p>
            <a class="btn btn-primary" asp-action="Sobre" asp-controller="Home">Sobre o sistema</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">
                <i class="fas fa-exclamation-triangle"></i>
                Atenção! Para uso do sistema de atendimento, solicite sempre ao cidadão os seus documentos e endereço.
            </p>
        </div>
    </div>
</div>