@{ 
    ViewData["Title"] = "Privacidade";
}

<div class="container">
    <div class="card border-0">
        <h2 class="card-title text-center text-secondary">Privacidade</h2>
        <div class="card-body">
            <p class="lead text-justify">
                A Prefeitura Municipal de Capetinga-MG detem todos os direitos de uso e desenvolvimento desta aplicação,
                não podendo a mesma ser replicada ou disponibilizada fora do ambiente da Secretaria Municipal de Assistência Social
                sem autorização prévia da Administração Pública e do Departamento de Informática desta mesma lotação.
            </p>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary btn-form" asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</div>