@model ColaboradorViewModel

@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Cadastro de Colaborador";
}

<div class="d-flex justify-content-center mt-3">
    <div class="card mx-auto">
        <div class="card-body" style="width: 800px;">
            <h5 class="card-title text-center text-secondary">
                Cadastro de Colaborador
            </h5>
            <hr />
            <vc:summary></vc:summary>
            <form asp-action="Cadastrar">
                <div class="form-group">
                    <label for="id" class="form-label" title="Código">Código</label>
                    <input asp-for="Id" class="form-control form-text text-dark" readonly="readonly" id="titulo" />
                </div>
                <div class="form-group">
                    <label for="nome" class="form-label" title="Nome">Nome</label>
                    <input asp-for="Nome" class="form-control form-text text-dark" placeholder="Nome do colaborador(a)" id="titulo" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="matricula" class="form-label" title="Matricula">Matrícula</label>
                    <input asp-for="Matricula" class="form-control form-text text-dark" placeholder="Número da matrícula" id="titulo" />
                    <span asp-validation-for="Matricula" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="cargo" class="form-label" title="Cargo">Cargo</label>
                    <select class="form-select" aria-label="CargoId" asp-for="CargoId" asp-items=ViewBag.Cargos>
                        <option selected>Escolha um Cargo</option>
                    </select>
                    <span asp-validation-for="CargoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Ativo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Inativo
                        </label>
                    </div>
                </div>
                <input type="submit" class="btn btn-sm btn-outline-primary btn-form" title="Cadastrar" />
                <a class="btn btn-sm btn-outline-danger btn-form" asp-action="Index">Cancelar</a>
            </form>
        </div>
    </div>
</div>