@model ColaboradorViewModel

@{
    ViewData["Title"] = "Perfil";
}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">@Model.Nome</span>
            </div>
        </div>
        <div class="col-md-9">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Perfil</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label class="labels">Nome</label>
                        <input asp-for="Nome" type="text" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label class="labels">Matrícula</label>
                        <input asp-for="Matricula" type="text" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-12 mt-2">
                        <label class="labels">Gênero</label>
                        <input asp-for="Sexo" type="text" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-12 mt-2">
                        <label class="labels">Data de Nascimento</label>
                        <input asp-for="DataNasc" type="text" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-12 mt-2">
                        <label class="labels">Data e Hora do Cadastro</label>
                        <input asp-for="DataCad" type="text" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Pasep</label>
                        <input asp-for="Pasep" type="text" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-12 mt-2">
                        <label class="labels">Cargo</label>
                        <input asp-for="CargoId" type="text" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-12 mt-2">
                        <label class="labels">Situação</label>
                        @if (Model.Situacao)
                        {
                            <input asp-for="Situacao" type="text" class="form-control" value="Ativo" readonly="readonly" />
                        }
                        else
                        {
                            <input asp-for="Situacao" type="text" class="form-control" value="Inativo" readonly="readonly">
                        }

                    </div>
                </div>
                <div class="mt-5 text-center">
                    <a class="btn btn-sm btn-outline-primary btn-form" asp-action="Atualizar" asp-route-id="@Model.Id">Atualizar</a>
                    <a class="btn btn-sm btn-outline-success btn-form" asp-action="AlterarSenha" asp-controller="Usuario">Alterar Senha</a>
                    <a class="btn btn-sm btn-outline-danger btn-form" asp-action="Excluir" asp-route-id="@Model.Id">Excluir Conta</a>
                </div>
            </div>
        </div>
        
    </div>
</div>